{% extends "base.html" %}
{% load django_markdown %}
 {% block blog_entries %} 
<h1 class="content-subhead">About</h1>
<p>My name is Sanket Chauhan and I am currently a senior at USC. I am leading USC VSI^2's <a href="http://vsi2.usc.edu/hacker-house/">Venture Incubation Program</a>, a student-run program designed to help USC students launch and grow tech startups. Our program hosts <a href="https://medium.com/@uschackerhouse/introducing-usc-vip-s-spring-2016-teams-d4b7f353d147#.vs0ib3gzb">11 technology startups</a> from all levels and disciplines.</p>

<p>I was previously involved with <a href="https://dentboard.com">Dentboard</a>, a dental analytics platform.</p> 
<p>Feel free to reach out to me on <a href="https://twitter.com/sanketchauhan">Twitter</a> or <a href="https://www.linkedin.com/in/sanketchauhan">Linkedin</a>, if you want to connect. </p>
{% endblock %}