{% extends "base.html" %}
{% load django_markdown %}

{% block blog_entries %}
<h1 class="content-subhead">Recent Posts</h1>
{% for object in object_list %}
  <section class="post">
    <header class="post-header">
       

        <h2 class="post-title">
          <a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a>
        </h2>

        <p class="post-meta">
            {{ object.created }} | Tagged under {{  object.tags.all|join:", " }}
             <!-- Tagged under <a class="post-category post-category-js" href="#">{{  object.tags.all|join:", " }}</a> -->
        </p>

    </header>
    <div class="post-description">
          {{ object.body|markdown }}
    </div>
  </section>
  {% endfor %}
{% endblock %}
