{% extends "base.html" %}
{% load django_markdown %}
 {% block blog_entries %} 

   <section class="post">
    <header class="post-header">
       

        <h2 class="post-title">
          <a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a>
        </h2>

        <p class="post-meta">
            {{ object.created }} | Tagged under {{  object.tags.all|join:", " }}
             <!-- Tagged under <a class="post-category post-category-js" href="#">{{  object.tags.all|join:", " }}</a> -->
        </p>

    </header>
    <div class="post-description">
          {{ object.body|markdown }}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'sanketchauhan';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </section>


{% endblock %}
